@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=Inter:wght@300;400;600&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #5474F4;
  --color-accent: #DAF726;
  /* Acid Yellow */
  --font-display: 'Oswald', sans-serif;
  --font-body: 'Inter', sans-serif;
}

:root {
  background-color: #ffffff;
  color: #1e1e1e;
  font-family: var(--font-body);
}

body {
  margin: 0;
  overflow-x: hidden;
}